name: Functional tests

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  functional-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: sudo apt-get install xvfb
    - run: npm ci
    - run: npm run build
    - run: npm run copy-dist
    - name: HTTP Server Action
      uses: Eun/http-server-action@v1.0.3
      with:
        directory: 'test/functional/example'
    - run: xvfb-run --auto-servernum npm run test:functional
